<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <section class="deposits">

            <h1>Депозиты физических лиц</h1>
            <p class="title__text">
                Хорошо работать можно только в хороших условиях. Поэтому мы намерены создавать лучшие условия для работы
                ваших денег: выгодно разместить временно свободные средства компании вы сможете на банковских депозитах
                Белорусского народного банка.
            </p>
            <div class="deposits__box">
                <div class="deposits-wrapper">
                    <img src="" alt="">
                    <div class="deposits__info">
                        <h3 class="deposits__info-title">«Просто деньги»</h3>
                        <div class="deposits__info-assignment"> <span>Назначение:</span> кредит наличными</div>
                        <div class="deposits__info-sum"> <span>Сумма:</span> до 15 000 BYN</div>
                    </div>
                </div>
                <div class="deposits-wrapper">
                    <img src="" alt="">
                    <div class="deposits__info">
                        <h3 class="deposits__info-title">«Американские каникулы»</h3>
                        <div class="deposits__info-assignment"> <span>Назначение:</span> кредит наличными</div>
                        <div class="deposits__info-sum"> <span>Сумма: </span> от 5 000 USD до 20 000 USD </div>
                    </div>
                </div>
                <div class="deposits-wrapper">
                    <img src="" alt="">
                    <div class="deposits__info">
                        <h3 class="deposits__info-title">«»</h3>
                        <div class="deposits__info-assignment"> <span>Назначение:</span> </div>
                        <div class="deposits__info-sum"> <span>Сумма:</span> </div>
                    </div>
                </div>
                <div class="deposits-wrapper">
                    <img src="" alt="">
                    <div class="deposits__info">
                        <h3 class="deposits__info-title">«»</h3>
                        <div class="deposits__info-assignment"> <span>Назначение:</span> </div>
                        <div class="deposits__info-sum"> <span>Сумма:</span> </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <script src="../deposits-list/script.js"></script>
</body>

</html>