<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/flash.png">
    <title>Thunder Bank</title>
</head>

<body>
    <div class="container">

        <section class="credits">

            <h1>Кредитование/Финансирование</h1>
            <p class="title__text">
                Клиенты и сервис в thunDer Bank – превыше всего. Мы предоставим
                персональную консультацию и гарантируем индивидуальный подход. Спросите нас, как управлять вашими
                денежными средствами из любой точки мира, пользуясь удобными сервисами и услугами дистанционного
                банковского обслуживания.</p>
            <div class="credits__box">
                <div class="credits-wrapper">
                    <img src="" alt="">
                    <div class="credits__info">
                        <h3 class="credits__info-title">«Просто деньги»</h3>
                        <div class="credits__info-assignment"> <span>Назначение:</span> кредит наличными</div>
                        <div class="credits__info-sum"> <span>Сумма:</span> до 15 000 BYN</div>
                    </div>
                </div>
                <div class="credits-wrapper">
                    <img src="" alt="">
                    <div class="credits__info">
                        <h3 class="credits__info-title">«Американские каникулы»</h3>
                        <div class="credits__info-assignment"> <span>Назначение:</span> кредит наличными</div>
                        <div class="credits__info-sum"> <span>Сумма: </span> от 5 000 USD до 20 000 USD </div>
                    </div>
                </div>
                <div class="credits-wrapper">
                    <img src="" alt="">
                    <div class="credits__info">
                        <h3 class="credits__info-title">«»</h3>
                        <div class="credits__info-assignment"> <span>Назначение:</span> </div>
                        <div class="credits__info-sum"> <span>Сумма:</span> </div>
                    </div>
                </div>
                <div class="credits-wrapper">
                    <img src="" alt="">
                    <div class="credits__info">
                        <h3 class="credits__info-title">«»</h3>
                        <div class="credits__info-assignment"> <span>Назначение:</span> </div>
                        <div class="credits__info-sum"> <span>Сумма:</span> </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <script type="module" src="credit.js"></script>
</body>

</html>