<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Курсы валют на <span class="current_date"></span></h2>
        <div class="exchange__rates">

        </div>

        <!-- <div class="currency__converter">

            <div class="currency__converter_BYN">
                <input type="number" name="BYN" class="currency__BYN">
                <span class="currency-info">
                    <span class="currency-flag">
                        <img src="/images/flag-icons/belarus-24px.png" alt="flag-icon-belarus">
                    </span>
                    BYN
                </span>

            </div>
            <div class="currency__converter_USD">
                <input type="number" name="USD" class="currency__USD">
                <span class="currency-info">
                    <span class="currency-flag">
                        <img src="/images/flag-icons/united-states-24px.png" alt="flag-icon-united-states">
                    </span>
                    USD
                </span>

            </div>

        </div> -->
    </div>
    <script type="module" src="./js/script.js"></script>
</body>

</html>