<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>КУРСЫ ВАЛЮТ НА <span class="current_date"></span></h2>
        <div class="exchange__rates">
            <!-- <table class="exchange__rates-table">
                <thead>
                    <th class="exchange__rates-head">Валюта</th>
                    <th class="exchange__rates-head">Покупка</th>
                    <th class="exchange__rates-head">Продажа</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1 USD</td>
                        <td class="purchase_rate"></td>
                        <td class="selling_rate"></td>
                    </tr>
                    <tr>
                        <td>1 EUR</td>
                        <td class="purchase_rate"></td>
                        <td class="selling_rate"></td>
                    </tr>
                    <tr>
                        <td>10 PL</td>
                        <td class="purchase_rate"></td>
                        <td class="selling_rate"></td>
                    </tr>
                    <tr>
                        <td>100 RUB</td>
                        <td class="purchase_rate"></td>
                        <td class="selling_rate"></td>
                    </tr>
                    <tr>
                        <td>1 GBP</td>
                        <td class="purchase_rate"></td>
                        <td class="selling_rate"></td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
    <script type="module" src="./js/script.js"></script>
</body>

</html>